@import '../../styles/proportions.scss';
@import '../../styles/colors.scss';

#branding-container {
  .info {
    .colors {
      margin-top: 4rem;

      display: grid;

      $gap: 4rem;
      $first-row-h: auto;
      $box-size: calc((100vw - 2 * #{$page-padding-w} - 5 * #{$gap}) / 6);
      grid-template-columns: repeat(6, $box-size);
      grid-template-rows: $first-row-h repeat(2, $box-size $gap);
      column-gap: $gap;

      .s-title-container {
        margin-bottom: 3rem;

        &:first-child {
          grid-column-start: 1;
          grid-column-end: 4;
        }

        &:nth-child(2) {
          grid-column-start: 4;
          grid-column-end: 7;
        }
      }

      img {
        width: calc(100% - 5rem);
      }

      .logo {
        width: 100%;

        display: grid;
        place-items: center;

        background-color: $background;

        &.logo-short {
          grid-column: 1;
          grid-row: 2;
        }

        &.logo-long {
          grid-column-start: 2;
          grid-column-end: 4;
        }
      }

      .color {
        width: 100%;
        height: 100%;

        display: grid;
        place-items: center;

        font-size: 1.8rem;

        &.primary {
          grid-column: 4;
          grid-row: 2;

          background-color: $primary;
        }

        &.white {
          grid-column: 5;
          grid-row: 2;

          color: black;
          background-color: #ffffff;
        }

        &.black {
          grid-column: 6;
          grid-row: 2;

          border: 2px solid white;

          color: white;
          background-color: $background-dark;
        }

        &.dark-grey {
          grid-column: 4;
          grid-row: 4;

          color: white;
          background-color: $background;
        }

        &.grey {
          grid-column: 5;
          grid-row: 4;

          color: white;
          background-color: $background-light;
        }

        &.light-grey {
          grid-column: 6;
          grid-row: 4;

          color: white;
          background-color: $text-secondary;
        }
      }

      .description {
        font-weight: 500;
        font-size: 1.5rem;
        color: $text-secondary;

        display: grid;
        place-items: center;
        text-align: center;

        margin-bottom: 1.2rem;

        &.logo-short {
          grid-column: 1;
          grid-row: 3;
        }

        &.logo-long {
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row: 3;
        }

        &.primary {
          grid-column: 4;
          grid-row: 3;
        }

        &.white {
          grid-column: 5;
          grid-row: 3;
        }

        &.black {
          grid-column: 6;
          grid-row: 3;
        }

        &.dark-grey {
          grid-column: 4;
          grid-row: 5;
        }

        &.grey {
          grid-column: 5;
          grid-row: 5;
        }

        &.light-grey {
          grid-column: 6;
          grid-row: 5;
        }
      }
    }
  }
}
