// Global classes
.t-grey {
	color: $text-secondary;
}

.t-red {
	color: $primary;
}

.t-white {
	color: $text-primary;
}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.subtitle {
		font-size: 38px;
		font-weight: 600;
		color: $text-secondary;
	}

	.title {
		display: inline-flex;

		margin-top: -25px;
		margin-left: -5px;
		font-size: 150px;
		font-weight: bold;

		.dot {
			margin-right: 2rem;
		}
	}
}

.part {
	display: flex;
	flex-direction: column;

	font-weight: bold;

	margin-top: 3rem;

	&:first-child {
		margin-top: 0;
	}

	.s-title-container {
		display: flex;
		flex-direction: column;

		.subtitle {
			font-size: 28px;
			font-weight: bold;
		}

		.title {
			margin-top: -5px;

			font-size: 45px;
			font-weight: bold;
		}
	}

	.text {
		margin-top: 30px;
		margin-left: 100px;

		width: calc(100vw / 2 - 4rem);

		font-size: 20px;
		font-weight: 600;

		.t-red {
			font-weight: bold;
		}

		.paragraph {
			color: $text-secondary;
			margin-top: 50px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}
