// header
$header-h: 3rem;
$header-padding-h: 2rem;
$header-total-h: calc(#{$header-h} + 2 * #{$header-padding-h});

// footer
$footer-h: 5rem;
$footer-padding-h: 2rem;
$footer-padding-w: 6rem;

// page
$page-border: 6rem;
$page-padding-bottom: 10rem;
