@import '../styles/screensize';
@import '../styles/proportions';

#page-container {
  position: relative;
  top: 0;
  right: 0;
  left: 0;

  padding: 0rem $m-page-padding-w;
  width: $m-page-fullscreen-w;

  @media only screen and (min-width: $tablet-width) {
    padding: 0rem $page-padding-w;
    width: $page-fullscreen-w; //Fixes weird stretching behaviour with scroolbars
    margin-bottom: $page-margin-bottom;
  }
}
