@import '../../styles/colors.scss';
@import '../../styles/proportions.scss';
@import '../../styles/screensize.scss';

.footer-container {
  padding: $footer-padding-h $footer-padding-w;
  border-top: solid $background 2px;

  .footer {
    .links {
      display: grid;
      grid-template-columns: 2fr repeat(4, 3fr);
      place-items: start start;

      .column {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2.5rem;
        grid-auto-rows: 2.3rem;

        color: $text-secondary;
        margin-top: 15px;

        &:first-child {
          display: inline-block;
          margin-top: 0;
        }

        .title {
          font-size: 16px;
          font-weight: 600;
        }

        .action {
          color: $text-primary;

          display: flex;
          align-items: flex-end;

          height: 1.8rem;
          line-height: 1.8rem;

          transition: color 0.1s ease;

          .text {
            font-size: 20px;
            font-weight: 700;
          }

          .link-icon {
            margin-left: 5px;

            svg {
              width: 24px;
              height: 24px;

              path {
                fill: $primary;
              }
            }
          }

          &:hover {
            color: $primary;
          }
        }
      }
    }

    .love {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      color: $text-secondary;
      font-weight: 500;

      * {
        font-weight: 700;

        &:first-child {
          margin-left: 4px;
        }
      }
    }
  }
}
